
#table-view .table-column,
#table-view .placeholder {
-fx-alignment: CENTER;
-fx-font-style: italic;
-fx-font-weight: bold;
-fx-font-size: 11;
-fx-background-color: #484848;
-fx-text-fill: #E5E4E2;
}
.table-view {
	-fx-background-color: #787878;
}

.table-row-cell{
-fx-table-cell-border-color:#484848;
}
#table-view .table-column  .label {
-fx-border-color: #B22222;
-fx-background-color: #B22222;
-fx-font-size: 13;
-fx-opacity: 0;
}
#table-view .column-header, .table-view .filler {
 -fx-background-color:  #484848;

}
#table-view .column-header-background .nested-column-header .table-column {
 -fx-background-color:  #484848;

}

.text-area .scroll-pane .viewport .content {
    -fx-background-color: black;
}

#day-button .text,
#day-button  {
-fx-background-color: #000000;
-fx-text-fill: white;
-fx-font-size: 14;
-fx-font-weight: bold;
-fx-border-color: #C2C9E4;
}
#day-button {
-fx-border-color: white;
-fx-fx-opacity: 0.9;
}

.separator .line {
-fx-background-color: #C2C9E4;
}

.text {
-fx-font-family: "Comic Sans MS", "Comic Sans";
}
.root  {
-fx-background-color: #303030;
}

#proteins-label  {
-fx-text-fill: blue;
-fx-font-weight: bold;
}
#carbs-label {
-fx-text-fill: green;
-fx-font-weight: bold;
}
#fat-label {
-fx-text-fill: #D2691E;
-fx-font-weight: bold;
}
#kcal-label {
-fx-text-fill: black;
-fx-text-opacity: 0;
-fx-font-weight: bold;
}


#calories-bar-hbox .label .text {
-fx-font-weight: bold;
}

#meal-label .text {
-fx-font-weight: bold;
-fx-font-size: 14;
}
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: #303030;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: #303030;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 0em;
    -fx-font-size: 2px;
}

.scroll-bar, .scroll-bar:pressed, .scroll-bar:focused {
    -fx-font-size: 7.5;
}
#delete-button:hover {
-fx-opacity: 0.2;
}


#settings-label: hover {
-fx-opacity: 0.5;
-fx-font-size: 14px;
}
#days-pane-icon: hover {
-fx-opacity: 0.5;
}
#edit-pane-button: hover , #table-view-label: hover {
-fx-opacity: 0.7;
}
.list-view .list-cell:even {
-fx-background-color:  linear-gradient(to right,#404040,  #101010);
-fx-text-fill: white;
}
.list-view .list-cell:odd {
-fx-background-color:  linear-gradient(to right,#404040,  #101010);
-fx-text-fill: white;
}
.list-view .list-cell:selected {
-fx-text-fill: red;
}
.list-view  {
-fx-background-color:  linear-gradient(to right,#404040,  #101010);
}




